:root {
    --blue: #152afc;
    --lavender: #dadbfee6;
    --white: #fffffa;
    --black: #000103;
    --orange: #fa8334;
    --red: #ff312e;
}

html {
    box-sizing: border-box;
    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 200;
    /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
    text-align: center;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}


/* @font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(./fonts/MyFont.woff) format('woff');
}
 */

body {
    background: url(../images/lines3-purple.svg);
    /* transform: scale(1.2); */
    background-repeat: no-repeat;
    /* background-color: #dadbfee6; */
    background-color: var(--lavender);
    background-size: 300px;
    background-position-x: -10px;
    background-position-y: -90px;
    height: 100%;
    /* min-height: calc(33vh - 100px); */
    width: 100%;
    /* background-size: 850px 650px; */
    /* height: 33vh;
    margin: 10px; */
    /* background-attachment: fixed; */
    font-family: aktiv-grotesk-condensed, sans-serif;
    font-weight: 200;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}