.social-links {
    grid-area: social;
    align-self: start;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-items: center;
    /* grid-gap: 20px; */
    margin-bottom: 80x;
}

.social-link {
    /* color: var(--white); */
    grid-column: minmax(50px, 1fr);
    font-weight: 500;
    display: grid;
    grid-gap: 0px;
    justify-items: center;
    text-decoration: none;
}


/* .social-link:hover {
    filter: brightness(85%);
    text-decoration: underline;
} */


/* .social-text {
    font-size: 16px;
} */

@media (max-width: 700px) {
    .social-links {
        margin-top: 0px;
        grid-gap: 10px;
        justify-items: center;
    }
}